.bg {
  background-color: #9ba9eb;
  padding: 30px;
  margin: 40px;
}

.card-1 {
  display: flex;
  background-color: #5763a5;
  border-radius: 4px;
  border: #5763a5;
  margin: 10px;
}

.form-card {
  background-color: #454f84;
  border-radius: 4px;
  padding: 10px;
  margin: 40px;
}

@media screen and (min-width: 1000px) {
  .bg {
    margin-right: 550px;
  }
}

.a {
  display: flex;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 4px;
}

.image {
  margin: 10px;
}

.heading {
  color: #ffffff;
  font-size: 20px;
}

.add-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 10px;
  border-radius: 2px;
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 190px;
}

.pass-image {
  margin-top: 40px;
}

.card-2 {
  font-size: 20px;
  background-color: #5763a5;
  border-radius: 4px;
  border: #5763a5;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.b {
  display: flex;
  justify-content: space-between;
}
.len {
  display: flex;
}
.length {
  border: 2px #c3caea solid;
  background-color: transparent;
  border-radius: 8px;
  font-size: 10px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}

.c {
  display: flex;
  background-color: #ffffff;
}

.pass {
  font-size: 12px;
  color: #ffffff;
}

.check {
  display: flex;
  justify-content: flex-end;
}

.check-box {
  outline: none;
}

.s {
  font-size: 10px;
  color: #ffffff;
}

.no-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.input {
  outline: none;
  border: none;
  border-left: solid 1px;
  padding-left: 5px;
  font-size: 10px;
  padding-right: 70px;
}
@media screen and (max-width: 576px) {
  .bg {
    margin: 10px;
    padding: 10px;
  }
  .input {
    padding-right: 0px;
  }
  .pass-image {
    height: 250px;
    width: 80px;
  }
  .card-1 {
    margin: 5px;
    padding: 5px;
  }
  .card-2 {
    margin: 5px;
    padding: 5px;
  }
  .form-card {
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
  }
}
